{% extends "index.html" %}

{% block content %}
<h2>Characters</h2>
            <div class="flashcard">
                <strong>Helen Stoner:</strong> Fears for her life, haunted by her sister's death.
            </div>
            <div class="flashcard">
                <strong>Dr. Grimesby Roylott:</strong> Violent, controlling, and interested in Indian wildlife.
            </div>
            <div class="flashcard">
                <strong>Julia Stoner:</strong> Twin sister to Helen Stoner, died mysteriously two years prior.
            </div>
            <div class="flashcard">
                <strong>Mrs. Hudson:</strong> Housekeeper at 221B Baker Street
            </div>
            <div class="flashcard">
                <strong>Honoria Westphail:</strong> Aunt to Helen and Julia Stoner.
            </div>
             <div class="flashcard">
                <strong>Percy Armitage:</strong> Fiancee of Helen Stoner, the second son of Mr. Armitage.
            </div>


<h2>Clues</h2>
            <div class="flashcard">
                <strong>The Bell-Rope:</strong> A seemingly functional bell-rope hangs beside Helen Stoner's bed, the tassel resting on the pillow. However, closer inspection reveals it's a dummy, not connected to any bell or wire. It's fastened to a hook directly above a small ventilator opening into Dr. Roylott's room.
            </div>
            <div class="flashcard">
                <strong>The Ventilator:</strong> A small ventilator opening connects Helen Stoner's room to Dr. Roylott's. It's a recent addition to the house. It is far too small for an adult to pass through.
            </div>
            <div class="flashcard">
                <strong>Dr. Roylott's Menagerie:</strong> Dr. Roylott keeps exotic animals, including a cheetah and a baboon, which roam the grounds. A saucer of milk sits atop his safe. Neighbors fear him and his animals.
            </div>
            <div class="flashcard">
                <strong>The Will:</strong> Mrs. Stoner\u2019s will stipulates that her daughters receive \u00a3250 annually upon marriage. The estate's income has dwindled, making two marriages financially crippling.
            </div>
            <div class="flashcard">
                <strong>The Curled Dog Lash:</strong> A dog lash is found in Dr. Roylott\u2019s room, curled and tied into a loop. Its purpose is unclear.
            </div>
            <div class="flashcard">
                <strong>Gypsy Encampment:</strong> A band of Gypsies are allowed to camp on the Roylott's land. Helen connects them to the mention of \u201cband\u201d but this connection is tenuous at best.
            </div>
            <div class="flashcard">
                <strong>The Clamped Bed:</strong> Helen Stoner's bed is bolted to the floor and cannot be moved. This fixes its position relative to the ventilator and the bell-rope.


{% endblock %}
