<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Case</title>

</head>
<body>

    <div class="container">


        <div class="box">
        <h2>{{ clue.clue_name }}</h2>

            <div class="flashcard-case">
                <strong>{{ clue.clue_description }}:</strong><br>

                {% if details %}
                 {{ details }}
                {% endif %}

            </div>

        </div>
    </div>

    <nav class="universal">
        <a href="/">Home</a><br>
        <a href="/select_case">Back to Characters and Clues</a>
    </nav>
</body>
</html>
