<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deduction Games</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    {% if message %}
        <div class="message">{{ message }}</div>
    {% endif %}
    <div class="container" style="max-width:800px; margin:auto; display:block;">
        <form action="/generate_case" method="POST" id="generate_case" style="margin-bottom:32px; text-align:center;">
           <label for="pick_text" style="font-size:1.2em; font-weight:bold;">Pick a story to create a new case</label><br>
              <select name="text_id" id="pick_text" size="5" style="width:80%; max-width:400px; margin:10px auto; display:block;">
              {% for text in stories %}
              <option value="{{ text.id }}">No. {{ text.id }}: {{ text.title }} from {{ text.author }}</option>
              {% endfor %}
              </select>
            <input type="submit" value="Generate case" style="margin-top:10px;">
        </form>
        <div class="container-vert" style="text-align:center;">
            <label for="pick_case" style="font-size:1.2em; font-weight:bold;">Pick a case</label><br>
        {% if cases %}
        <form action="/select_case" method="POST" id="select_case" style="margin-bottom:32px; text-align:center;">
            <select name="case_id" id="pick_case" size="5" style="width:80%; max-width:400px; margin:10px auto; display:block;">
              {% for case in cases %}
              <option value="{{ case.id }}">No. {{ case.id }}: {{ case.title }}: {{ case.status }}</option>
              {% endfor %}
              </select>
                 <input type="submit" value="Select case" style="margin-top:10px;">
         </form>
         {% else %}
            <div style="color:#888; margin:10px 0 20px 0;">Keine Fälle vorhanden. Bitte erst einen Fall generieren.</div>
         {% endif %}
        </div>
    </div>
   </body>
</html>
