<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deduction Games</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <div class="container">
        <form>
           <label for="pick_case">Pick a case</label><br>
              <select name="pick_case" id="pick_case" size="5">
              {% for case in cases %}


              <option value="{{ case.id }}">No. {{ case.id }}: {{ case.description }}</option>
              {% endfor %}
              </select>
            <label>Pick:<input type="submit" id="case_no"></label>

         </form>
    <div class="container">
        <form>
           <label for="pick_story">Pick a story to create a new case</label><br>
              <select name="pick_story" id="pick_story" size="5">
              {% for story in stories %}


              <option value="{{ story.id }}">No. {{ story.id }}: {{ story.title }} from {{ story.author }}</option>
              {% endfor %}
              </select>
            <label>Pick:<input type="submit" id="text_no"></label>
         </form>

    </div>
</body>
</html>
